body {
	background - color: #caddes;
	padding: 0;
	margin: 0;

}

# contenido {
	margin: 10px;
	width: 550px;

}

div a {
	color: #a4b736;
	font-weight: bold;
}

p span {
	color: red;
}

h1 + p {
	#color: #c30;
	font-weight: bold;
}

p +p {
	text-decoration: underline;
}

h2 ~ p {
	font-size: 30px
	font-weight: bold;
}
